shim-version: v0.3.12@sha256:b81f2295ae6750d61e94f810ce24077360001b6ec795d13643f3170df29e304d
cvm-version: 0.6.3
cpus: 16
memory: 65536

containers:
  - name: "garden-app"
    image: "us-central1-docker.pkg.dev/workshop-labs-pbc/garden-docker/app@sha256:d471ac6573534e6afc708ce795fc516e51adb77a99435d15dfd57b47c2b632b2"
    volumes:
      - /mnt/ramdisk/gcloud_key.json:/key.json:ro
    env:
      - NODE_ENV: "production"
      - NODE_OPTIONS: "--max-old-space-size=28672"
      - GOOGLE_APPLICATION_CREDENTIALS: "/key.json"
      - GCS_BUCKET: "pollux-enc-prod"
      - POLLUX_LN_GCS_BUCKET: "gs://pollux-enc-prod"
      - SYNC_SERVER_URL: "https://pollux-sync.debug.wsl.functions.tinfoil.sh"
      - EMBEDDING_SERVER_URL: "https://confidential-pollux-embeddings.debug.wsl.functions.tinfoil.sh"
      - TRAINING_SERVER_URL: "https://confidential-pollux-training.debug.wsl.functions.tinfoil.sh"
      - DEBUG_ARTEFACT_CHAT: "true"
      - EMAIL_VERIFY_ENABLED: "false"
      - INFERENCE_SERVER_URL: "https://confidential-pollux-inference.debug.wsl.functions.tinfoil.sh/v1"
    secrets:
      - DATABASE_URL
      - BETTER_AUTH_SECRET
      - RESEND_API_KEY
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - EXA_API_KEY
      - TINFOIL_API_KEY
      - TINFOIL_API_KEY_BACKUP_ACCOUNT

shim:
  listen-port: 443
  upstream-port: 3000
  publish-attestation: true
  tls-challenge: dns
