shim-version: v0.3.5@sha256:f44c65a1f7db476be20c3431bb6facea8c2966606a07fbb5724a619f82bfa558
cvm-version: 0.5.15
cpus: 16
memory: 65536

containers:
  - name: "garden-app"
    image: ""
    args:
      [
        "-v",
        "/mnt/ramdisk/gcloud_key.json:/key.json:ro",
        "-e",
        "NODE_ENV=production",
        "-e",
        "NODE_OPTIONS=--max-old-space-size=28672",
        "-e",
        "GOOGLE_APPLICATION_CREDENTIALS=/key.json",
        "-e",
        "GCS_BUCKET=pollux-enc-prod",
        "-e",
        "POLLUX_LN_GCS_BUCKET=gs://pollux-enc-prod",
        "-e",
        "SYNC_SERVER_URL=https://pollux-sync.debug.wsl.functions.tinfoil.sh",
        "-e",
        "EMBEDDING_SERVER_URL=https://confidential-pollux-embeddings.debug.wsl.functions.tinfoil.sh",
        "-e",
        "TRAINING_SERVER_URL=https://confidential-pollux-training.debug.wsl.functions.tinfoil.sh",
        "-e",
        "DEBUG_ARTEFACT_CHAT=true",
        "-e",
        "EMAIL_VERIFY_ENABLED=false",
        "-e",
        "DATABASE_URL=$(awk -F': *' '$1~/^DATABASE_URL$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "BETTER_AUTH_SECRET=$(awk -F': *' '$1~/^BETTER_AUTH_SECRET$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "RESEND_API_KEY=$(awk -F': *' '$1~/^RESEND_API_KEY$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "GOOGLE_CLIENT_ID=$(awk -F': *' '$1~/^GOOGLE_CLIENT_ID$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "GOOGLE_CLIENT_SECRET=$(awk -F': *' '$1~/^GOOGLE_CLIENT_SECRET$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "EXA_API_KEY=$(awk -F': *' '$1~/^EXA_API_KEY$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "TINFOIL_API_KEY=$(awk -F': *' '$1~/^TINFOIL_API_KEY$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "TINFOIL_API_KEY_BACKUP_ACCOUNT=$(awk -F': *' '$1~/^TINFOIL_API_KEY_BACKUP_ACCOUNT$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
        "-e",
        "INFERENCE_SERVER_URL=https://confidential-pollux-inference.debug.wsl.functions.tinfoil.sh",
        "us-central1-docker.pkg.dev/workshop-labs-pbc/garden-docker/app@sha256:294808a72c50e16d7093286c8f79b8f0dd91ea0e09167628a75d1080c7a66c39",
      ]

shim:
  listen-port: 443
  upstream-port: 3000
  publish-attestation: true
  tls-challenge: dns
