shim-version: v0.3.12@sha256:b81f2295ae6750d61e94f810ce24077360001b6ec795d13643f3170df29e304d
cvm-version: 0.5.15
cpus: 16
memory: 65536

containers:
  - name: "garden-app"
    image: ""
    args:
      [
        "-v",
        "/mnt/ramdisk/gcloud_key.json:/key.json:ro",
        "-e",
        "NODE_ENV=production",
        "-e",
        "NODE_OPTIONS=--max-old-space-size=28672",
        "-e",
        "GOOGLE_APPLICATION_CREDENTIALS=/key.json",
        "-e",
        "GCS_BUCKET=pollux-enc-prod",
        "-e",
        "POLLUX_LN_GCS_BUCKET=gs://pollux-enc-prod",
        "-e",
        "SYNC_SERVER_URL=https://pollux-sync.debug.wsl.functions.tinfoil.sh",
        "-e",
        "EMBEDDING_SERVER_URL=https://confidential-pollux-embeddings.debug.wsl.functions.tinfoil.sh",
        "-e",
        "TRAINING_SERVER_URL=https://confidential-pollux-training.debug.wsl.functions.tinfoil.sh",
        "-e",
        "DEBUG_ARTEFACT_CHAT=true",
        "-e",
        "EMAIL_VERIFY_ENABLED=false",
        "-e",
        "DATABASE_URL=$(sed -n 's/^DATABASE_URL: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "BETTER_AUTH_SECRET=$(sed -n 's/^BETTER_AUTH_SECRET: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "RESEND_API_KEY=$(sed -n 's/^RESEND_API_KEY: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "GOOGLE_CLIENT_ID=$(sed -n 's/^GOOGLE_CLIENT_ID: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "GOOGLE_CLIENT_SECRET=$(sed -n 's/^GOOGLE_CLIENT_SECRET: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "EXA_API_KEY=$(sed -n 's/^EXA_API_KEY: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "TINFOIL_API_KEY=$(sed -n 's/^TINFOIL_API_KEY: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "TINFOIL_API_KEY_BACKUP_ACCOUNT=$(sed -n 's/^TINFOIL_API_KEY_BACKUP_ACCOUNT: *//p' /mnt/ramdisk/external-config.yml)",
        "-e",
        "INFERENCE_SERVER_URL=https://confidential-pollux-inference.debug.wsl.functions.tinfoil.sh/v1",
        "us-central1-docker.pkg.dev/workshop-labs-pbc/garden-docker/app@sha256:d471ac6573534e6afc708ce795fc516e51adb77a99435d15dfd57b47c2b632b2",
      ]

shim:
  listen-port: 443
  upstream-port: 3000
  publish-attestation: true
  tls-challenge: dns
