shim-version: v0.2.11@sha256:cbbbeeac855948610cd1ba5b406d10ffa13331cbbe7d25964ba3c90486f65810
cvm-version: 0.5.7
cpus: 16
memory: 65536
vllm: false

containers:
  - name: "gcsfuse"
    image: ""
    args: [
      "--cap-add", "SYS_ADMIN",
      "--device", "/dev/fuse",
      "--security-opt", "apparmor=unconfined",
      "-v", "/mnt/ramdisk/gcs-bucket:/gcs:rshared",
      "-v", "/mnt/ramdisk/gcloud_key.json:/key.json:ro",
      "-e", "BUCKET_NAME=pollux-tinfoil",
      "kapetacom/gcsfuse-ubuntu:v3.2.0"
    ]

  - name: "garden-app"
    image: ""
    args: [
      "-v", "/mnt/ramdisk/gcs-bucket:/mnt/gcs:ro",
      "-v", "/mnt/ramdisk/gcloud_key.json:/key.json:ro",
      "-e", "GOOGLE_APPLICATION_CREDENTIALS=/key.json",
      "-e", "GCS_BUCKET=pollux-tinfoil",
      "-e", "POLLUX_LN_GCS_BUCKET=gs://pollux-tinfoil",
      "-e", "POLLUX_GCSFUSE_MOUNT_PATH=/mnt/gcs",
      "-e", "DATABASE_URL=$(sed -n 's/^database-url: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "NODE_ENV=production",
      "-e", "RESEND_API_KEY=$(awk -F': *' '$1~/^resend-api-key$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
      "-e", "RESEND_FROM_EMAIL=$(awk -F': *' '$1~/^resend-from-email$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
      "-e", "GOOGLE_CLIENT_ID=$(awk -F': *' '$1~/^google-client-id$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
      "-e", "GOOGLE_CLIENT_SECRET=$(awk -F': *' '$1~/^google-client-secret$/{print $2; exit}' /mnt/ramdisk/external-config.yml)",
      "us-central1-docker.pkg.dev/workshop-labs-pbc/garden-docker/app@sha256:0ab22d208b7d7ae8832e79b1817743e7d53586f827b4eef5954bc4e91b44681f"
    ]

shim:
  listen-port: 443
  upstream-port: 3000
  publish-attestation: false
  tls-challenge: dns
